input{
  background-color:rgb(224, 224, 224);
  border: 1px solid purple;
  width: 90%;
  height: 40%;
  border-radius: 5px;
  padding: 10px 10px;
  

}

button{
  margin-top:10px;
  border: 1px solid purple;
  padding: 10px 20px;
  border-radius: 10px;
}

button:hover{
  background-color: purple;
  color: white;
}

form{
  background-color: bisque;
  padding: 30px 30px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  box-shadow: 5px 10px #888888;
  width: 30%;
}

.App h1{
  text-align: center;
  color: white;
}
